[submodule "packages/activity-indicator"]
	path = packages/activity-indicator
	url = https://github.com/vue-interface/activity-indicator
[submodule "packages/input-field"]
	path = packages/input-field
	url = https://github.com/vue-interface/input-field
[submodule "packages/form-control"]
	path = packages/form-control
	url = https://github.com/vue-interface/form-control
[submodule "packages/shadowable"]
	path = packages/shadowable
	url = https://github.com/vue-interface/shadowable
[submodule "packages/input-list"]
	path = packages/input-list
	url = https://github.com/vue-interface/input-list
[submodule "packages/select-field"]
	path = packages/select-field
	url = https://github.com/vue-interface/select-field
[submodule "packages/textarea-field"]
	path = packages/textarea-field
	url = https://github.com/vue-interface/textarea-field
[submodule "packages/radio-field"]
	path = packages/radio-field
	url = https://github.com/vue-interface/radio-field
[submodule "packages/checkbox-field"]
	path = packages/checkbox-field
	url = https://github.com/vue-interface/checkbox-field
[submodule "packages/btn"]
	path = packages/btn
	url = https://github.com/vue-interface/btn
[submodule "packages/btn-activity"]
	path = packages/btn-activity
	url = https://github.com/vue-interface/btn-activity
[submodule "packages/light-switch-field"]
	path = packages/light-switch-field
	url = https://github.com/vue-interface/light-switch-field
[submodule "packages/modal"]
	path = packages/modal
	url = https://github.com/vue-interface/modal
[submodule "packages/eslint-config"]
	path = packages/eslint-config
	url = https://github.com/vue-interface/eslint-config
[submodule "packages/sizeable"]
	path = packages/sizeable
	url = https://github.com/vue-interface/sizeable
[submodule "packages/btn-dropdown"]
	path = packages/btn-dropdown
	url = https://github.com/vue-interface/btn-dropdown
[submodule "packages/slide-deck"]
	path = packages/slide-deck
	url = https://github.com/vue-interface/slide-deck
[submodule "packages/slide-panel"]
	path = packages/slide-panel
	url = https://github.com/vue-interface/slide-panel
[submodule "packages/dropdown-menu"]
	path = packages/dropdown-menu
	url = https://github.com/vue-interface/dropdown-menu
[submodule "packages/autogrow"]
	path = packages/autogrow
	url = https://github.com/vue-interface/autogrow
[submodule "packages/pagination"]
	path = packages/pagination
	url = https://github.com/vue-interface/pagination
[submodule "packages/progress-bar"]
	path = packages/progress-bar
	url = https://github.com/vue-interface/progress-bar
[submodule "packages/wizard"]
	path = packages/wizard
	url = https://github.com/vue-interface/wizard
[submodule "packages/btn-group"]
	path = packages/btn-group
	url = https://github.com/vue-interface/btn-group
[submodule "packages/tooltip"]
	path = packages/tooltip
	url = https://github.com/vue-interface/tooltip
[submodule "packages/middleware"]
	path = packages/middleware
	url = https://actengage@github.com/vue-interface/middleware.git
