[submodule "packages/activity-indicator"]
	path = packages/activity-indicator
	url = https://github.com/vue-interface/activity-indicator
[submodule "packages/input-field"]
	path = packages/input-field
	url = https://github.com/vue-interface/input-field
[submodule "packages/form-control"]
	path = packages/form-control
	url = https://github.com/vue-interface/form-control
[submodule "packages/shadowable"]
	path = packages/shadowable
	url = https://github.com/vue-interface/shadowable
[submodule "packages/input-list"]
	path = packages/input-list
	url = https://github.com/vue-interface/input-list
