@theme {
    --btn-font-size-2xs: --spacing(1);

    --btn-font-size-xs: --spacing(2);
    --btn-dropdown-toggle-padding-xs: .25rem;

    --btn-font-size-sm: --spacing(3);
    --btn-dropdown-toggle-padding-sm: .375rem;

    --btn-font-size-md: --spacing(4);
    --btn-dropdown-toggle-padding-md: .5rem;

    --btn-font-size-lg: --spacing(5);
    --btn-dropdown-toggle-padding-lg: .625rem;

    --btn-font-size-xl: --spacing(6);

    --btn-dropdown-toggle-padding-xl: .75rem;

    --btn-font-size-2xl: --spacing(7);
    --btn-dropdown-toggle-padding-2xl: .875rem;


    --btn-font-size-3xl: --spacing(8);
    --btn-dropdown-toggle-padding-3xl: 1rem;

    --btn-font-size-4xl: --spacing(9);
    --btn-dropdown-toggle-padding-4xl: 1.125rem;

    --btn-font-size-5xl: --spacing(10);
}