@import "tailwindcss";

@utility form-control-base-animation {
    position: relative;

    .form-label {
        position: absolute;
        top: var(--form-control-border-width);
        left: 0;
        display: flex;
        align-items: center;
        padding: calc(var(--form-control-font-size) * .75 / 2) calc(var(--form-control-font-size) * .75);
        font-size: var(--form-control-font-size);
        transition: all 150ms ease-in-out;
    }

    .form-select,
    .form-control {
        transition: all 150ms ease-in-out;

        &:is(:empty)::placeholder {
            visibility: hidden;    
        }
    }

    &:has(.form-control):focus-within,
    &:has(.form-control:not(:placeholder-shown),.form-control.is-dirty,.form-select.is-dirty:not(.is-empty)),
    &:has(.form-select>option:checked:not([value=""])) {
        .form-label {
            font-size: calc(var(--form-control-font-size) * .75);
            padding-top: 2px;
            padding-bottom: 0;
            padding-left: calc(var(--form-control-font-size) * .75 + 1px);
        }
        
        .form-control,
        .form-select {
            padding-top: calc(var(--form-control-font-size) * .75);
            padding-bottom: 0;
        }
    }
    
    &:has(.form-control):focus-within .form-control:is(:placeholder-shown),
    .form-control.is-dirty:is(:empty) {
        &::placeholder {
            visibility: visible;
        }
    }
}

@utility form-control-animated {
    @apply form-control-base-animation;
}

@utility form-control-animated-* {
    @apply form-control-base-animation;

    position: relative;
    
    .form-label {
        padding: calc(--value(--form-control-font-size-*, [length]) * .75 / 2) calc(--value(--form-control-font-size-*, [length]) * .75);
        padding: calc(--spacing(--value(integer)) * .75 / 2) calc(--spacing(--value(integer)) * .75);
        font-size: --value(--form-control-font-size-*);
    }

    &:has(.form-control):focus-within,
    &:has(.form-select>option:checked:not([value=""])),
    &:has(.form-control:not(:placeholder-shown),.form-control.is-dirty,.form-select.is-dirty:not(.is-empty)) {
        .form-label {
            padding-left: calc(--value(--form-control-font-size-*, [length]) * .75 + 1px);
            padding-left: calc(--spacing(--value(integer)) * .75 + 1px);
            font-size: calc(--value(--form-control-font-size-*, [length]) * .75);
            font-size: calc(--spacing(--value(integer)) * .75);
        }
        
        .form-control,
        .form-select {
            padding-top: calc(--value(--form-control-font-size-*, [length]) * .75);
            padding-top: calc(--spacing(--value(integer)) * .75);
        }
    }
}