@import "tailwindcss";

@theme {
    --form-file-position: relative;
    --form-file-width: 100%;
    --form-file-line-height: 1.5;
    --form-file-padding-x: 0.375rem;
    --form-file-padding-y: 0.375rem;
    --form-file-padding-left: 0.75rem;
    --form-file-padding-right: 0.75rem;
    --form-file-border-width: 1px;
    --form-file-border-style: solid;
    --from-file-border-radius: inherit;
    --form-file-border-color: var(--color-gray-300, oklch(87.2% 0.01 258.338));
    
    --form-file-focus-box-shadow: 0 0 0 0.2rem color-mix(in oklch, var(--color-blue-500, oklch(62.3% 0.214 259.815)) 40%, transparent);
    
    /* Dark mode */
    --form-file-dark-color: var(--color-gray-50, oklch(98.5% 0.002 247.839));
    --form-file-dark-background-color: var(--color-neutral-700, oklch(37.1% 0 0));
    --form-file-dark-border-color: var(--color-neutral-500, oklch(55.6% 0 0));

    --form-file-dark-disabled-color: var(--color-neutral-600, oklch(43.9% 0 0));
    --form-file-dark-disabled-background-color: var(--color-neutral-900, oklch(20.5% 0 0));
    --form-file-dark-disabled-border-color: var(--color-neutral-700, oklch(20.5% 0 0));
    
    --form-file-dark-focus-border-color: var(--color-blue-400, oklch(70.7% 0.165 254.624));
    --form-file-dark-focus-box-shadow: 0 0 0 0.2rem color-mix(in oklch, var(--color-blue-400, oklch(62.3% 0.214 259.815)) 50%, transparent);

    /* form-file-input */
    --form-file-input-margin: 0;
    --form-file-input-opacity: 0; 
    --form-file-input-z-index: 2;    
    --form-file-input-position: relative;
    --form-file-input-height: calc(1.5 * 1.5em + .375rem + .375rem + 1px * 2);
    --form-file-input-focus-border-color: var(--color-blue-500, oklch(62.3% 0.214 259.815));

    --form-file-input-disabled-border-color: var(--color-neutral-400, oklch(70.8% 0 0));
    --form-file-input-didabled-background-color: var(--color-neutral-200, oklch(92.2% 0 0));
    
    /* form-file-label */
    --form-file-label-display: flex;
    --form-file-label-position: absolute;
    --form-file-label-border-color: var(--color-gray-600, oklch(50.6% 0.016 258.339));
    --form-file-label-border-style: transparent;
    --form-file-label-border-radius: 0.25rem;
    --form-file-label-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --form-file-label-z-index: 1;
    --form-file-label-position-top: 0;
    --form-file-label-position-right: 0;
    --form-file-label-position-left: 0;

    /* form-file-text */
    --form-file-text-display: block;
    --from-file-text-flex-grow: 1;
    --form-file-text-overflow: hidden;
    --form-file-text-font-weight: 400;
    --form-file-text-font: inherit;
    --form-file-text-color: var(--color-neutral-400, oklch(70.8% 0 0));
    --form-file-text-text-overflow: ellipsis;
    --form-file-text-white-space: nowrap;
    --form-file-text-background-color: var(--color-white, oklch(100% 0 0));

    --form-file-text-dark-color: var(--color-neutral-400, oklch(70.8% 0 0));

    /* form-file-button */
    --form-file-button-display: block;
    --form-file-button-flex-shrink: 0;
    --form-file-button-color: var(--color-gray-600, oklch(50.6% 0.016 258.339));
    --form-file-button-background-color: var(--color-neutral-200, oklch(92.2% 0 0));
}

@utility form-file {
    position: var(--form-file-position);
}

@utility form-file-* {
    padding: --value(--form-padding-*);
    font-size: --value(--form-font-size-*);
    border-radius: --value(--form-border-radius-*);
}

@utility form-file-input {
    position: var(--form-file-input-position);
    z-index: var(--form-file-input-z-index);
    width: var(--form-file-width);
    height: var(--form-file-input-height);
    margin: var(--form-file-input-margin);
    opacity: var(--form-file-input-opacity);
    
    &:focus-within ~ .form-file-label {
        box-shadow: var(--form-file-focus-box-shadow);
        border-color: var(--form-file-input-focus-border-color);

        .dark & {
            color: var(--form-file-dark-color);
            background-color: var(--form-file-dark-background-color);
            border-color: var(--form-file-dark-focus-border-color);
            box-shadow: var(--form-file-dark-focus-box-shadow);
        }
    }
    
    &[disabled] ~ .form-file-label .form-file-text {
        border-color: var(--form-file-input-disabled-border-color);
        background-color: var(--form-file-input-didabled-background-color);
        
        .dark & {
            color: var(--form-file-dark-disabled-color);
            background-color: var(--form-file-dark-disabled-background-color);
            border-color: var(--form-file-dark-disabled-border-color);
        }
    }
    
    &[disabled] ~ .form-file-label .form-file-button {
        border-color: var(--form-file-input-disabled-border-color);
        background-color: var(--form-file-input-didabled-background-color);
        
        .dark & {
            color: var(--form-file-dark-disabled-color);
            background-color: var(--form-file-dark-disabled-background-color);
            border-color: var(--form-file-dark-disabled-border-color);
        }
    }
}

@utility form-file-label {
    position: var(--form-file-label-position);
    top: var(--form-file-label-position-top);
    right: var(--form-file-label-position-right);
    left: var(--form-file-label-position-left);
    z-index: var(--form-file-label-z-index);
    display: var(--form-file-label-display);
    border-color: var(--form-file-label-border-color);
    border-width: var(--form-file-border-width);
    border-style: var(--form-file-label-border-style);
    border-radius: var(--form-file-label-border-radius);
    box-shadow: var(--form-file-label-box-shadow);
    
    .dark & {
        color: var(--form-file-dark-color);
        background-color: var(--form-file-dark-background-color);
        border-color: var(--form-file-dark-border-color);
    }
}

@utility form-file-text {
    display: var(--form-file-text-display);
    flex-grow: var(--from-file-text-flex-grow);
    padding: var(--form-file-padding-y) var(--form-file-padding-x);
    padding-left: var(--form-file-padding-left);
    padding-right: var(--form-file-padding-right);
    overflow: var(--form-file-text-overflow);
    font-family: var(--form-file-text-font);
    font-weight: var(--form-file-text-font-weight);
    line-height: var(--form-file-line-height);
    color: var(--form-file-text-color);
    text-overflow: var(--form-file-text-text-overflow);
    white-space: var(--form-file-text-white-space);
    background-color: var(--form-file-text-background-color);
    border-color: var(--form-file-border-color);
    border-style: var(--form-file-border-style);
    border-width: var(--form-file-border-width);
    border-top-left-radius: var(--from-file-border-radius);
    border-bottom-left-radius: var(--from-file-border-radius);
    
    .dark & {
        color: var(--form-file-text-dark-color);
        background-color: var(--form-file-dark-background-color);
        border-color: var(--form-file-dark-border-color);
    }
}

@utility form-file-button {
    display: var(--form-file-button-display);
    flex-shrink: var(--form-file-button-flex-shrink);
    padding: var(--form-file-padding-y) var(--form-file-padding-x);
    padding-left: var(--form-file-padding-left);
    padding-right: var(--form-file-padding-right);
    margin-left: calc(-1 * var(--form-file-border-width));
    line-height: var(--form-file-line-height);
    color: var(--form-file-button-color);
    background-color: var(--form-file-button-background-color);
    border-color: var(--form-file-border-color);
    border-style: var(--form-file-border-style);
    border-width: var(--form-file-border-width);
    border-top-right-radius: var(--from-file-border-radius);
    border-bottom-right-radius: var(--from-file-border-radius);
    
    .dark & {
        color: var(--form-file-dark-color);
        background-color: var(--form-file-dark-background-color);
        border-color: var(--form-file-dark-border-color);
    }
}