@import "tailwindcss";

@import "./validation.css";

@theme {
    --form-switch-display: inline-flex;
    --form-switch-position: relative;
    --form-switch-outline: none;
    --form-switch-appearance: none;
    --form-switch-border-width: 1px;
    --form-switch-border-style: solid;
    --form-switch-border-radius: calc(1em * 1.5);   
    --form-switch-border-color: var(--color-gray-400, oklch(76.5% 0.01 258.33));
    --form-switch-transition: background-color .15s ease-in-out, background-position .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    --form-switch-padding: 0.15rem 0.35;
    --form-switch-font-size: 0.7rem;
    --form-switch-width: calc((1em * 1.5 + 0px + 0px + 1px * 2) * 2);
    --form-switch-height: calc(1em * 1.5 + 0px + 0px + 1px * 2);
    
    /* Form Switch Before Element (toggle circle) */
    --form-switch-before-content: '';
    --form-switch-before-position: absolute;
    --form-switch-before-top: 50%;
    --form-switch-before-left: 0;
    --form-switch-before-width: 100%;
    --form-switch-before-height: 100%;
    --form-switch-before-display: block;
    --form-switch-before-border-radius: 100%;
    --form-switch-before-background-position: left center;
    --form-switch-before-background-repeat: no-repeat;
    --form-switch-before-transform: translateY(-50%);
    --form-switch-before-transition: background-color .15s ease-in-out, background-position .15s ease-in-out;
    
    /* Form Switch Circle Images */
    --form-switch-circle-default: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%236b7280'/%3e%3c/svg%3e");
    --form-switch-circle-focus: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%233b82f6'/%3e%3c/svg%3e");
    --form-switch-circle-checked: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
    --form-switch-circle-invalid: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23dc2626'/%3e%3c/svg%3e");
    --form-switch-circle-valid: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2316a34a'/%3e%3c/svg%3e");
    
    /* Form Switch States */
    --form-switch-checked-background: var(--color-blue-500, oklch(62.3% 0.214 259.815));
    --form-switch-checked-border-color: var(--color-blue-500, oklch(62.3% 0.214 259.815));
    --form-switch-checked-before-position: right center;
    
    /* Form Switch Focus */
    --form-switch-focus-border-color: var(--color-blue-300, oklch(78.5% 0.11 259.815));
    --form-switch-focus-outline: 0;
    --form-switch-focus-box-shadow: 0 0 0 .2rem color-mix(in oklch, var(--color-blue-400, oklch(70.7% 0.165 254.624)) 50%, transparent);
    
    /* Form Switch Disabled */
    --form-switch-disabled-pointer-events: none;
    --form-switch-disabled-filter: none;
    --form-switch-disabled-opacity: 0.5;

    /*Dark-Light mode toggle*/
    --form-switch-dark-border-color: var(--color-neutral-400, oklch(70.8% 0 0));
    --form-switch-dark-bg: transparent;

    --form-switch-sun-bg: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PSctMTIgLTEyIDI0IDI0JyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxjaXJjbGUgcj0nOScgZmlsbD0nI2ZlZjA4YScgdHJhbnNmb3JtPSdtYXRyaXgoMSwgMCwgMCwgMSwgNy4xMDU0MjczNTc2MDEwMDJlLTE1LCAwKScvPjxwYXRoIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgZD0nTSAwIC02IEwgMCAtNC41IE0gNC4yNDMgLTQuMjQxIEwgMy4xODIgLTMuMTgyIE0gNiAwIEwgNC41IDAgTSA0LjI0MyA0LjI0MyBMIDMuMTgyIDMuMTgyIE0gMCA0LjUgTCAwIDYgTSAtMy4xODIgMy4xODIgTCAtNC4yNDEgNC4yNDMgTSAtNC41IDAgTCAtNiAwIE0gLTMuMTgyIC0zLjE4MiBMIC00LjI0MSAtNC4yNDEgTSAyLjQ5OCAwIEMgMi40OTggMS45MjcgMC40MTggMy4xMjcgLTEuMjUgMi4xNjcgQyAtMi4wMjEgMS43MTggLTIuNDk4IDAuODk1IC0yLjQ5OCAwIEMgLTIuNDk4IC0xLjkyNSAtMC40MTggLTMuMTMgMS4yNSAtMi4xNjUgQyAyLjAyNiAtMS43MTggMi40OTggLTAuODkzIDIuNDk4IDAgWicgc3R5bGU9J2ZpbGw6ICNlYTU4MGM7IHN0cm9rZTogI2VhNTgwYycgdHJhbnNmb3JtPSdtYXRyaXgoMSwgMCwgMCwgMSwgNy4xMDU0MjczNTc2MDEwMDJlLTE1LCAwKScvPjwvc3ZnPg==");
    --form-switch-sun-bg-focus: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PSctMTIgLTEyIDI0IDI0JyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxjaXJjbGUgcj0nOScgZmlsbD0nI2ZlZjA4YScgdHJhbnNmb3JtPSdtYXRyaXgoMSwgMCwgMCwgMSwgNy4xMDU0MjczNTc2MDEwMDJlLTE1LCAwKScvPjxwYXRoIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgZD0nTSAwIC02IEwgMCAtNC41IE0gNC4yNDMgLTQuMjQxIEwgMy4xODIgLTMuMTgyIE0gNiAwIEwgNC41IDAgTSA0LjI0MyA0LjI0MyBMIDMuMTgyIDMuMTgyIE0gMCA0LjUgTCAwIDYgTSAtMy4xODIgMy4xODIgTCAtNC4yNDEgNC4yNDMgTSAtNC41IDAgTCAtNiAwIE0gLTMuMTgyIC0zLjE4MiBMIC00LjI0MSAtNC4yNDEgTSAyLjQ5OCAwIEMgMi40OTggMS45MjcgMC40MTggMy4xMjcgLTEuMjUgMi4xNjcgQyAtMi4wMjEgMS43MTggLTIuNDk4IDAuODk1IC0yLjQ5OCAwIEMgLTIuNDk4IC0xLjkyNSAtMC40MTggLTMuMTMgMS4yNSAtMi4xNjUgQyAyLjAyNiAtMS43MTggMi40OTggLTAuODkzIDIuNDk4IDAgWicgc3R5bGU9J2ZpbGw6ICNjMjQxMGM7IHN0cm9rZTogI2MyNDEwYycgdHJhbnNmb3JtPSdtYXRyaXgoMSwgMCwgMCwgMSwgNy4xMDU0MjczNTc2MDEwMDJlLTE1LCAwKScvPjwvc3ZnPg==");

    --form-switch-moon-bg: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PSctMTIgLTEyIDI0IDI0JyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxjaXJjbGUgcj0nOScgZmlsbD0nIzdlMjJjZScgdHJhbnNmb3JtPSdtYXRyaXgoMSwgMCwgMCwgMSwgNy4xMDU0MjczNTc2MDEwMDJlLTE1LCAwKScvPjxwYXRoIHN0cm9rZT0nd2hpdGUnIGZpbGw9J3doaXRlJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIGQ9J00gNiAyLjE2MiBDIDUuMjQgMi40NzkgNC40MjMgMi42NDIgMy41OTkgMi42NDEgQyAwLjE1MyAyLjY0MSAtMi42NDEgLTAuMTUzIC0yLjY0MSAtMy41OTkgQyAtMi42NDEgLTQuNDUgLTIuNDcgLTUuMjYxIC0yLjE2MiAtNiBDIC00LjQ4NiAtNS4wMyAtNiAtMi43NTggLTYgLTAuMjM5IEMgLTYgMy4yMDYgLTMuMjA2IDYgMC4yMzkgNiBDIDIuNzU4IDYuMDAxIDUuMDMgNC40ODcgNiAyLjE2MiBaJyB0cmFuc2Zvcm09J21hdHJpeCgxLCAwLCAwLCAxLCAzLjU1MjcxMzY3ODgwMDUwMWUtMTUsIDApJy8+PC9zdmc+");
    --form-switch-moon-bg-focus: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PSctMTIgLTEyIDI0IDI0JyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxjaXJjbGUgcj0nOScgZmlsbD0nIzZiMjFhOCcgdHJhbnNmb3JtPSdtYXRyaXgoMSwgMCwgMCwgMSwgNy4xMDU0MjczNTc2MDEwMDJlLTE1LCAwKScvPjxwYXRoIHN0cm9rZT0nd2hpdGUnIGZpbGw9J3doaXRlJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIGQ9J00gNiAyLjE2MiBDIDUuMjQgMi40NzkgNC40MjMgMi42NDIgMy41OTkgMi42NDEgQyAwLjE1MyAyLjY0MSAtMi42NDEgLTAuMTUzIC0yLjY0MSAtMy41OTkgQyAtMi42NDEgLTQuNDUgLTIuNDcgLTUuMjYxIC0yLjE2MiAtNiBDIC00LjQ4NiAtNS4wMyAtNiAtMi43NTggLTYgLTAuMjM5IEMgLTYgMy4yMDYgLTMuMjA2IDYgMC4yMzkgNiBDIDIuNzU4IDYuMDAxIDUuMDMgNC40ODcgNiAyLjE2MiBaJyB0cmFuc2Zvcm09J21hdHJpeCgxLCAwLCAwLCAxLCAzLjU1MjcxMzY3ODgwMDUwMWUtMTUsIDApJy8+PC9zdmc+");
}

@utility form-switch-* {
    padding: --value(--form-padding-*);
    font-size: --value(--form-font-size-*);
}

@utility form-switch {
    display: var(--form-switch-display);
    position: var(--form-switch-position);
    outline: var(--form-switch-outline);
    padding: var(--form-switch-padding);
    font-size: var(--form-switch-font-size);
    appearance: var(--form-switch-appearance);
    border-width: var(--form-switch-border-width);
    border-style: var(--form-switch-border-style);
    border-color: var(--form-switch-border-color);
    border-radius: var(--form-switch-border-radius);
    width: var(--form-switch-width);
    height: var(--form-switch-height);
    transition: var(--form-switch-transition);
    
    &::before {
        content: var(--form-switch-before-content);
        position: var(--form-switch-before-position);
        top: var(--form-switch-before-top);
        left: var(--form-switch-before-left);
        width: var(--form-switch-before-width);
        height: var(--form-switch-before-height);
        display: var(--form-switch-before-display);
        border-radius: var(--form-switch-before-border-radius);
        background-position: var(--form-switch-before-background-position);
        background-repeat: var(--form-switch-before-background-repeat);
        background-image: var(--form-switch-circle-default);
        transform: var(--form-switch-before-transform);
        transition: var(--form-switch-before-transition);
    }
    
    &:disabled:not([readonly]) {
        pointer-events: var(--form-switch-disabled-pointer-events);
        filter: var(--form-switch-disabled-filter);
        opacity: var(--form-switch-disabled-opacity);
    }
    
    &:focus {
        border-color: var(--form-switch-focus-border-color);
        outline: var(--form-switch-focus-outline);
        box-shadow: var(--form-switch-focus-box-shadow);
        
        &::before {
            background-image: var(--form-switch-circle-focus);
        }
    }
    
    &:checked {
        background-color: var(--form-switch-checked-background);
        border-color: var(--form-switch-checked-border-color);
        
        &::before {
            background-position: var(--form-switch-checked-before-position);
            background-image: var(--form-switch-circle-checked);
        }
    }
    
    &.is-invalid,
    &[invalid] {
        border-color: var(--invalid-color);
        background-color: var(--invalid-background-color);
        color: var(--invalid-color);
        
        &::before {
            background-image: var(--form-switch-circle-invalid);
        }
        
        &:focus {
            box-shadow: var(--invalid-box-shadow);
        }
    }
    
    &.is-valid,
    &[valid] {
        border-color: var(--valid-color);
        background-color: var(--valid-background-color);
        color: var(--valid-color);
        
        &::before {
            background-image: var(--form-switch-circle-valid);
        }
        
        &:focus {
            box-shadow: var(--valid-box-shadow);
        }
    }
}

label:has(> .form-switch:disabled:not([readonly])) {
    opacity: var(--form-switch-disabled-opacity);
}

@utility form-switch-light-dark {
    &::before {
        background-image: var(--form-switch-sun-bg);
    }
    
    &:focus {
        &::before {
            background-image: var(--form-switch-sun-bg-focus);
        }
    }
  
    &:checked {
      background-color: var(--form-switch-dark-bg);
      border-color: var(--form-switch-border-color);
    }
  
    &:checked::before {
      background-image: var(--form-switch-moon-bg);
    }
  
    &:checked:focus::before {
      background-image: var(--form-switch-moon-bg-focus);
    }
  
    .dark & {
      border-color: var(--form-switch-dark-border-color);
    }
}
