@import "tailwindcss";

@theme {
    --form-control-display: flex;
    --form-control-width: 100%;
    --form-control-font: inherit;
    --form-control-font-weight: 400;
    --form-control-line-height: 1.5;
    --form-control-font-size: 1rem;
    --form-control-background-color: inherit;
    --form-control-background-repeat: no-repeat;
    --form-control-background-size: 1.25em;
    --form-control-background-position: right calc((1.5 * 1em + .375rem + .375rem) / 4) center;
    --form-control-border-width: 1px;
    --form-control-border-style: solid;
    --form-control-border-color: var(--color-gray-300, oklch(87.2% 0.01 258.338));
    --form-control-border-radius: 0.25rem;
    --form-control-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    --form-control-appearance: none;

    /* Dark mode */
    --form-control-dark-background-color: var(--color-neutral-700, oklch(37.1% 0 0));
    --form-control-dark-border-color: var(--color-neutral-500, oklch(55.6% 0 0));

    --form-control-focus-dark-background-color: var(--color-neutral-700, oklch(20.5% 0 0));
    
    /* Focus state */
    --form-control-focus-color: var(--color-neutral-700, oklch(37.1% 0 0));
    --form-control-focus-background-color: inherit;
    --form-control-focus-border-color: var(--color-blue-500, oklch(62.3% 0.214 259.815));
    --form-control-focus-outline: 0;
    --form-control-focus-box-shadow-style: 0 0 0 .2rem;
    --form-control-focus-box-shadow-color: color-mix(in oklch, var(--color-blue-400, oklch(70.7% 0.165 254.624)) 50%, transparent);
    --form-control-focus-dark-color: var(--color-white, #fff);
    --form-control-focus-dark-border-color: var(--color-blue-400, oklch(70.7% 0.165 254.624));

    /* Placeholder */
    --form-control-placeholder-color: var(--color-neutral-400, oklch(70.8% 0 0));
    --form-control-placeholder-opacity: 1;

    /* Disabled state */
    --form-control-disabled-color: var(--color-neutral-400, oklch(70.8% 0 0));
    --form-control-disabled-background-color: var(--color-neutral-200, oklch(92.2% 0 0));
    --form-control-disabled-border-color: var(--color-neutral-400, oklch(70.8% 0 0));
    --form-control-disabled-opacity: 1;
    --form-control-disabled-dark-color: var(--color-neutral-600, oklch(43.9% 0 0));
    --form-control-disabled-dark-background-color: var(--color-neutral-900, oklch(20.5% 0 0));
    --form-control-disabled-dark-border-color: var(--color-neutral-700, oklch(20.5% 0 0));

    /* Form control color specific */
    --form-control-color-width: 3rem;
    --form-control-color-height: calc(1.5em + var(--form-control-font-size) * .75 + var(--form-control-border-width) * 2);
    --form-control-color-padding: 0.375rem;

    /* Plaintext */
    --form-control-plaintext-display: block;
    --form-control-plaintext-color: inherit;
    --form-control-plaintext-background: transparent;
    --form-control-plaintext-cursor: default;
    --form-control-plaintext-border: none;
    --form-control-plaintext-padding-left: 0em !important;
    --form-control-plaintext-padding-right: 0em !important;
    --form-control-plaintext-outline: none;
    --form-control-plaintext-font-size: 1rem;
    --form-control-plaintext-border-radius: 0.25rem;
}

@utility form-control {
    /* --form-control-focus-box-shadow: 0 0 0 .2rem var(--form-control-focus-box-shadow-color); */
    
    display: var(--form-control-display);
    width: var(--form-control-width);
    font-family: var(--form-control-font);
    font-weight: var(--form-control-font-weight);
    line-height: var(--form-control-line-height);
    background-color: var(--form-control-background-color);
    border-width: var(--form-control-border-width);
    border-style: var(--form-control-border-style);
    border-color: var(--form-control-border-color);
    border-radius: var(--form-control-border-radius);
    transition: var(--form-control-transition);
    appearance: var(--form-control-appearance);
    padding: calc(var(--form-control-font-size) * .75 / 2) calc(var(--form-control-font-size) * .75);

    @variant dark {
        background-color: var(--form-control-dark-background-color);
        border-color: var(--form-control-dark-border-color);
    }

    &:focus {
        color: var(--form-control-focus-color);
        background-color: var(--form-control-focus-background-color);
        border-color: var(--form-control-focus-border-color);
        outline: var(--form-control-focus-outline);
        box-shadow: var(--form-control-focus-box-shadow-style) var(--form-control-focus-box-shadow-color);

        @variant dark {
            color: var(--form-control-focus-dark-color);
            border-color: var(--form-control-focus-dark-border-color);
            background-color: var(--form-control-focus-dark-background-color);
        }
    }

    &::placeholder {
        color: var(--form-control-placeholder-color);
        opacity: var(--form-control-placeholder-opacity);
    }

    &:disabled:not([readonly]) {
        color: var(--form-control-disabled-color);
        background-color: var(--form-control-disabled-background-color);
        border-color: var(--form-control-disabled-border-color);
        opacity: var(--form-control-disabled-opacity);

        @variant dark {
            color: var(--form-control-disabled-dark-color);
            background-color: var(--form-control-disabled-dark-background-color);
            border-color: var(--form-control-disabled-dark-border-color);
        }
    }

    &.is-invalid,
    &[invalid] {
        border-color: var(--invalid-color);
        background-color: var(--invalid-background-color);
        color: var(--invalid-color);
        background-image: var(--invalid-background-image);
        background-repeat: var(--form-control-background-repeat);
        background-position: var(--form-control-background-position);
        background-size: var(--form-control-background-size);

        &:focus,
        &.focus {
            box-shadow: var(--invalid-box-shadow);
            border-color: var(--invalid-color);
            background-color: var(--invalid-background-color);
        }
    }

    &.is-valid,
    &[valid] {
        border-color: var(--valid-color);
        background-color: var(--valid-background-color);
        color: var(--valid-color);
        background-image: var(--valid-background-image);
        background-repeat: var(--form-control-background-repeat);
        background-position: var(--form-control-background-position);
        background-size: var(--form-control-background-size);

        &:focus,
        &.focus {
            box-shadow: var(--valid-box-shadow);
            border-color: var(--valid-color);
            background-color: var(--valid-background-color);
        }
    }
}

@utility form-control-* {
    --form-control-focus-box-shadow-color: color-mix(in oklch, --value(--color-*, [color]) 50%, transparent);

    padding: calc(--value(--form-control-font-size-*, [length]) * .75 / 2) calc(--value(--form-control-font-size-*, [length]) * .75);
    padding: calc(--spacing(--value(integer)) * .75 / 2) calc(--spacing(--value(integer)) * .75);
    font-size: --value(--form-control-font-size-*, [length]);
    font-size: --spacing(--value(integer));
    border-radius: calc(--value(--form-control-font-size-*, [length]) / 4);
    border-radius: calc(--spacing(--value(integer)) / 4);

    background-color: color-mix(in oklch, --value(--color-*, [color]) 10%, transparent);
    border-color: --value(--color-*, [color]);
    
    &:focus {
        background-color: color-mix(in oklch, --value(--color-*, [color]) 15%, transparent);
        border-color: --value(--color-*, [color]);
    }
}

@utility form-control-color {
    width: var(--form-control-color-width);
    height: var(--form-control-color-height);
    padding: var(--form-control-color-padding);
    border-radius: var(--form-control-border-radius);

    &::-moz-color-swatch {
        border-radius: var(--form-control-border-radius);
    }

    &::-webkit-color-swatch {
        border-radius: var(--form-control-border-radius);
    }
}

@utility form-control-plaintext {
    display: var(--form-control-plaintext-display);
    width: var(--form-control-width);
    color: var(--form-control-plaintext-color);
    border: var(--form-control-plaintext-border);
    outline: var(--form-control-plaintext-outline);
    background: var(--form-control-plaintext-background);
    cursor: var(--form-control-plaintext-cursor);
    padding-left: var(--form-control-plaintext-padding-left);
    padding-right: var(--form-control-plaintext-padding-right);
    font-size: var(--form-control-plaintext-font-size);
    border-radius: var(--form-control-plaintext-border-radius);
}