@theme {
    --form-padding-xs: .15rem .35rem;
    --form-font-size-xs: .75rem;
    --form-border-radius-xs: .2rem;

    --form-padding-sm: .25rem .5rem;
    --form-font-size-sm: .875rem;
    --form-border-radius-sm: .25rem;

    --form-padding-md: .375rem .75rem;
    --form-font-size-md: 1rem;
    --form-border-radius-md: .25rem;

    --form-padding-lg: .5rem 1rem;
    --form-font-size-lg: 1.25rem;
    --form-border-radius-lg: .33rem;

    --form-padding-xl: .66rem 1.25rem;
    --form-font-size-xl: 1.33rem;
    --form-border-radius-xl: .33rem;

    --form-padding-2xl: .75rem 1.5rem;
    --form-font-size-2xl: 1.5rem;
    --form-border-radius-2xl: .5rem;

    --form-padding-3xl: .85rem 1.75rem;
    --form-font-size-3xl: 1.75rem;
    --form-border-radius-3xl: .5rem;

    --form-padding-4xl: 1rem 2rem;
    --form-font-size-4xl: 2rem;
    --form-border-radius-4xl: .66rem;

    /* Color Picker Size */
    --form-control-color-width: 2.75rem;
    --form-control-color-height: 2.375rem;
    --form-control-color-padding: 0.375rem;

    /* form-select sizes */
    --form-select-padding-xs: 0.15rem 1.35rem 0.15rem 0.35rem;
    --form-select-xs-background-size: 0.66rem;

    --form-select-padding-sm: 0.25rem 1.5rem 0.25rem 0.5rem;
    --form-select-background-size-sm: 0.75rem;

    --form-select-padding-md: 0.375rem 1.75rem 0.375rem 0.75rem;
    --form-select-background-size-md: 1rem;

    --form-select-padding-lg: 0.5rem 2rem 0.5rem 1rem;
    --form-select-background-size-lg: 1.25rem;

    --form-select-padding-xl: 0.66rem 2.25rem 0.66rem 1.25rem;
    --form-select-background-size-xl: 1.5rem;

    --form-select-padding-2xl: 0.75rem 2.5rem 0.75rem 1.5rem;
    --form-select-background-size-2xl: 1.75rem;

    --form-select-padding-3xl: 0.85rem 2.75rem 0.85rem 1.75rem;
    --form-select-background-size-3xl: 2rem;

    --form-select-padding-4xl: 1rem 3rem 1rem 2rem;
    --form-select-background-size-4xl: 2.25rem;
}