@theme {
    --form-control-font-size-xs: .75rem;
    --form-control-font-size-sm: .875rem;
    --form-control-font-size-md: 1rem;
    --form-control-font-size-lg: 1.25rem;
    --form-control-font-size-xl: 1.33rem;
    --form-control-font-size-2xl: 1.5rem;
    --form-control-font-size-3xl: 1.75rem;
    --form-control-font-size-4xl: 2rem;

    /* Color Picker Size */
    --form-control-color-width: 2.75rem;
    --form-control-color-height: 2.375rem;
    --form-control-color-padding: 0.375rem;
}