@theme {
    --form-control-padding-x-xs: .35rem;
    --form-control-padding-y-xs: .175rem;
    --form-control-font-size-xs: .75rem;
    --form-control-border-radius-xs: .2rem;

    --form-control-padding-x-sm: .5rem;
    --form-control-padding-y-sm: .25rem;
    --form-control-font-size-sm: .875rem;
    --form-control-border-radius-sm: .25rem;

    --form-control-padding-x-md: .75rem;
    --form-control-padding-y-md: .375rem;
    --form-control-font-size-md: 1rem;
    --form-control-border-radius-md: .25rem;

    --form-control-padding-x-lg: 1rem;
    --form-control-padding-y-lg: .5rem;
    --form-control-font-size-lg: 1.25rem;
    --form-control-border-radius-lg: .33rem;

    --form-control-padding-x-xl: 1.25rem;
    --form-control-padding-y-xl: .625rem;
    --form-control-font-size-xl: 1.33rem;
    --form-control-border-radius-xl: .33rem;

    --form-control-padding-x-2xl: 1.5rem;
    --form-control-padding-y-2xl: .75rem;
    --form-control-font-size-2xl: 1.5rem;
    --form-control-border-radius-2xl: .5rem;

    --form-control-padding-x-3xl: 1.75rem;
    --form-control-padding-y-3xl: .875rem;
    --form-control-font-size-3xl: 1.75rem;
    --form-control-border-radius-3xl: .5rem;

    --form-control-padding-x-4xl: 2rem;
    --form-control-padding-y-4xl: 1rem;
    --form-control-font-size-4xl: 2rem;
    --form-control-border-radius-4xl: .66rem;

    /* Color Picker Size */
    --form-control-color-width: 2.75rem;
    --form-control-color-height: 2.375rem;
    --form-control-color-padding: 0.375rem;
}