@theme {
    --form-control-font-size-xs: --spacing(2.5);
    --form-control-font-size-sm: --spacing(3);
    --form-control-font-size-md: --spacing(4);
    --form-control-font-size-lg: --spacing(5);
    --form-control-font-size-xl: --spacing(6);
    --form-control-font-size-2xl: --spacing(7);
    --form-control-font-size-3xl: --spacing(8);
    --form-control-font-size-4xl: --spacing(9);

    /* Color Picker Size */
    --form-control-color-width: 2.75rem;
    --form-control-color-height: 2.375rem;
    --form-control-color-padding: 0.375rem;
}