@import "tailwindcss";

@theme {
    --display-none: none;
    --display-block: block;

    --invalid-color: var(--color-red-600, oklch(57.7% 0.245 27.325));
    --valid-color: var(--color-green-600, oklch(62.7% 0.194 149.214));

    --invalid-background-color: color-mix(in oklch, var(--color-red-600, oklch(57.7% 0.245 27.325)) 10%, transparent);
    --valid-background-color: color-mix(in oklch, var(--color-green-600, oklch(62.7% 0.194 149.214)) 10%, transparent);

    --invalid-box-shadow: 0 0 0 .2rem color-mix(in oklch, var(--color-red-600, oklch(57.7% 0.245 27.325)) 50%, transparent);
    --valid-box-shadow: 0 0 0 .2rem color-mix(in oklch, var(--color-green-600, oklch(62.7% 0.194 149.214)) 50%, transparent);

    --invalid-background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc2626'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath d='m5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc2626' stroke='none'/%3e%3c/svg%3e");
    --valid-background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA4IDgnPjxwYXRoIGZpbGw9JyMxNmEzNGEnIGQ9J00yLjMgNi43M0wuNiA0LjUzYy0uNC0xLjA0LjQ2LTEuNCAxLjEtLjhsMS4xIDEuNCAzLjQtMy44Yy42LS42MyAxLjYtLjI3IDEuMi43bC00IDQuNmMtLjQzLjUtLjguNC0xLjEuMXonLz48L3N2Zz4=");
}

@utility invalid-feedback {
    color: var(--invalid-color);
    display: var(--display-none);

    .is-invalid ~ &,
    [invalid] ~ &,
    :has(.is-invalid) &,
    :has([invalid]) & {
        display: var(--display-block);
    }
}

@utility valid-feedback {
    color: var(--valid-color);
    display: var(--display-none);

    .is-valid ~ &,
    [valid] ~ &,
    :has(.is-valid) &,
    :has([valid]) & {
        display: var(--display-block);
    }
}