@import "tailwindcss";

@layer base {
    @import './base.css';
    @import './vp-doc.css';
}

@custom-variant dark (&:where(.dark, .dark *));

@variant dark {
    body {
        @apply text-white;
    }
}

/* VitePress CSS Overrides */
.vp-doc .dropdown-header {
    margin: 0 !important;
}