@import "tailwindcss";

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(75px);
}

@layer base {
    @import './base.css';
    @import './icons.css';
    @import './components/custom-block.css';
    @import './components/vp-code-group.css';
    @import './components/vp-code.css';
    @import './components/vp-doc.css';
    @import './components/vp-sponsor.css';
}

@custom-variant dark (&:where(.dark, .dark *));

@variant dark {
    body {
        @apply text-white;
    }
}

/* VitePress CSS Overrides */
.vp-doc .dropdown-header {
    margin: 0 !important;
}