@theme {
    --icon-bg-primary: var(--color-primary, var(--color-blue-100));
    --icon-color-primary: var(--color-primary, var(--color-blue-800));

    --icon-bg-secondary: var(--color-secondary, var(--color-gray-100));
    --icon-color-secondary: var(--color-secondary, var(--color-gray-800));

    --icon-bg-success: var(--color-success, var(--color-green-100));
    --icon-color-success: var(--color-success, var(--color-green-800));

    --icon-bg-danger: var(--color-danger, var(--color-red-100));
    --icon-color-danger: var(--color-danger, var(--color-red-800));
    
    --icon-bg-warning: var(--color-warning, var(--color-amber-100));
    --icon-color-warning: var(--color-warning, var(--color-amber-800));

    --icon-bg-info: var(--color-info, var(--color-teal-100));
    --icon-color-info: var(--color-info, var(--color-teal-800));

    --icon-bg-light: var(--color-light, var(--color-gray-100));
    --icon-color-light: var(--color-light, var(--color-gray-800));

    --icon-bg-dark: var(--color-dark, var(--color-gray-800));
    --icon-color-dark: var(--color-dark, var(--color-gray-100));
}