@import "tailwindcss";

/* @import './src/css/sizes.css'; */
@import './src/css/form-control.css';
@import './src/css/form-select.css';
@import './src/css/form-check.css';
@import './src/css/form-file.css';
@import './src/css/form-switch.css';